proxy:
  log:
    level: 1 # 0 - debug, 1 - info, 2 - warn, 3 - error, -1 trace (exposes sensitive data)
  admin:
    bypass: false # enable admin bypass
    group: gepardec-run-admins # group name for admin bypass
  thanos:
    url: https://thanos-querier.monitoring.svc.cluster.local:9091
    tenantLabel: namespace
  loki:
    url: https://loki-query-frontend-http.logging.svc.cluster.local:3100
    tenantLabel: kubernetes_namespace_name
    actorHeader: X-Loki-Actor-Path
    headers:
      X-Scope-OrgID: application
  tempo:
    url: https://tempo-query-frontend.tracing.svc.cluster.local:3200
    tenantLabel: resource.namespace
    actorHeader: ""
    headers: {}
  alert:
    enabled: false # enable alerting
    tokenHeader: X-Multena-alert # header to use for the token
    certUrl: https://sso.play.run.gepardec.com/realms/internal/protocol/openid-connect/certs
    cert: '' # local jwks cert
  web:
    labelStoreKind: configmap # label provider: configmap only
    oauthGroupName: "groups"
    jwksCertUrl: https://sso.play.run.gepardec.com/realms/internal/protocol/openid-connect/certs
    tlsVerifySkip: false # skip tls verification very insecurely!!!
  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 65534
    fsGroup: 65534
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
  topologySpreadConstraints: []

replicas: 1

autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80
  behavior: {}

image:
  repository: ghcr.io/binhnguyenduc/lgtm-lbac-proxy
  pullPolicy: IfNotPresent
  tag: ""

service:
  webPort: 8080
  metricsPort: 8081

tls:
  loki:
    enabled: true # enable mTLS for loki
    secretName: loki-query-frontend-http # name of the secret
    cert: tls.crt
    key: tls.key
  thanos:
    enabled: false # enable mTLS for thanos
    secretName: thanos-querier-tls # name of the secret
    cert: tls.crt
    key: tls.key
  tempo:
    enabled: false # enable mTLS for tempo
    secretName: tempo-query-frontend-tls # name of the secret
    cert: tls.crt
    key: tls.key

probes:
  readinessProbe:
    enabled: true
    initialDelaySeconds: 1
    periodSeconds: 5
    timeoutSeconds: 10
  livenessProbe:
    enabled: true
    initialDelaySeconds: 1
    periodSeconds: 10
    timeoutSeconds: 10

serviceAccount:
  create: true

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi


